* {
    box-sizing: border-box;
}

:root {
    --padding-side: 70px;
    --font-size-global: 12px;
}

body {
    background-color: #eeeeee;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

h2 {
    margin: 0;
}

.wraper_content {
    width: 80%;
}

.container_content {
    background-color: #fff;
    padding: 20px var(--padding-side) 50px var(--padding-side);
}

.container_content > * {
    margin: 20px 0;
}

.wraper_progress-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    --step-dimensions: 20px;
    height: var(--step-dimensions);
}

.wraper_step-name {
    color: #1abc9c;
    display: flex;
    justify-content: space-between;
}

.wraper_step-name p:last-child {
    color: #000;
}

.bar_bar {
    background-color: #efefef;
    height: calc(var(--step-dimensions)/4);
    width: 33.33%;
}

.bar_step {
    position: absolute;
    background-color: #efefef;
    border-radius: 50%;
    height: var(--step-dimensions);
    width: var(--step-dimensions);
    border: 4px solid #fff;
}

.step_first {
    top: 0;
    left: 0;
}

.step_second {
    top: 0;
    left: 33.33%;
    translate: -50% 0;
}

.step_third {
    top: 0;
    left: 66.66%;
    translate: -50% 0;
}

.step_last {
    top: 0;
    right: 0;
}

.bar_step-active {
    background-color: #1abc9c;
}

.wraper_payment-options {
    display: flex;
    gap: 15px;
}

.option_container {
    background-color: #efefef;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.wraper_image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.wraper_option-select {
    display: flex;
    align-items: center;
    gap: 5px;
}

.wraper_option-select input {
    margin: 0;
}

label {
    display: block;
}

.wraper_input--group {
    display: flex;
    gap: 15px;
}

.wraper_input,
.wraper_endnote {
    width: 50%;

}

.wraper_input input {
    width: 100%;
    border: none;
}

/* .wraper_input input {
    width: 100%;
    border: none;
} */

.wraper_input-endnote--group {
    width: 50%;
    display: flex;
    gap: 15px;
}

.wraper_controls {
    display: flex;
    justify-content: space-between;
    padding: 20px var(--padding-side) 0 var(--padding-side);
}

button {
    width: 120px;
    padding: 10px 0;
    border-radius: 30px;
    text-align: center;
    border: none;
}

#back {
    background-color: #fff;
    color: #1abc9c;
}

#next {
    background-color: #1abc9c;
    color: #fff;
}

.container_input {
    border: 1px solid #e3e3e3;
    height: 2.5em;
    border-radius: 5px;
}

.wraper_endnote {
    display: flex;
    align-items: center;
    font-size: 10px;
}

.wraper_endnote p,
form label {
    color: #969696;
}

.wraper_input label {
    font-size: var(--font-size-global);
    margin-bottom: 10px;
}

form:last-child .wraper_input--group {
    margin-top: 15px;
}

.wraper_step-name p{
    font-size: var(--font-size-global);
}

h2 {
    font-size: calc(1.5*var(--font-size-global));
}

.wraper_option-select p {
    font-size: var(--font-size-global) 
}